# Erlang
ebin
.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE
.erlang.cookie
*.swp
*.swo

# Rebar 2.x
.rebar
rel/
ebin/*.beam
deps

# Rebar 3
.rebar3
_build/
_checkouts/
rebar3.crashdump

# Others
_*
.idea
*.iml
*~
log
logs
