%% Keep debug information on bytecode compilation
{erl_opts, [debug_info]}.

%% Dependency management - uses hex.pm repository
{deps, [
  %% Source dependencies
  %% GitHub
  %% Example: {package, {git, "git://github.com/publisher/package.git"}}
  %%          {package, {git, "git://github.com/publisher/package.git", {tag, "version"}}}
  %%
  %% Hex.pm
  %% Example: {package, "version"}
]}.